# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Téléchargement\TP5bis_ACF\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
